#selectionDisplay {
	border: solid;
	border-color: #6c757d;
	border-radius: 1%;
	border-width: 0.33em !important;
	background-color: white;
}

#selectionImage {
	margin: auto;
	display: block;
	height: auto;
	height: 300px;
	width: auto;
	max-width: 100%;
	text-align: center;
}

.facts {
	font-weight: bolder;
	font-size: 1.4em;
}

.thinLine {
	border-top: solid black 1.5px;
}

.boldLine {
	border-top: solid black 5px;
}

#input {
	padding-left: 10px;
	font-size: inherit;
}

.amountValue {
	font-size: 0.6em;
	font-weight: 850;
}

.pdv {
	font-size: 0.6em;
}

.a {
	font-size: 0.8em;
}

.toShake {
	text-align: center;
	font-size: 1.7em;
	font-family: "Bungee Shade", cursive;
}

.beverageName {
	text-align: center;
	font-size: .5em;
}
