#selectionDisplay {
    display: flex;
    flex-direction: column;
    border: solid;
    border-color: #6c757d;
    border-radius: 1%;
    border-width: .33em !important;
    width: auto !important;
    background-color: white;
}

#toShake {
    border: solid black 1px;
}

.row {
    justify-content: center;
}
