#outerList {
    border-radius: 1%;
    border-width: .33em !important;
    background: white;
}

#outerListList {
    background: white;
}

#innerList {
    border-radius: 1.5%;
    box-shadow: 5px 10px 10px #888888;
}

#containerTitle {
    text-align: center;
    text-decoration: underline;
}

.media-body {
    margin-top: auto;
    margin-bottom: auto;
    text-align: center;
    font-size: xx-large;
}

#media_body {
    display: inline;
}